:root {
    --primary-text-color:#212121;
    --second-color:#757575;
    --accent-color:#2196F3;
    --fon-batton: #2196F3;
    --wite-color:#ffffff;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
    --background-color-backdrop: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'roboto', sans-serif;
    background-color: #ffffff; 
}



.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ============HEADER============= */

/* .header {
    padding-top: 25px;
    padding-bottom: 25px;

} */

.header.border {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display:flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right:50px;
}

.list-header {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.menu-link {
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var (--primary-text-color);
}

a.current {
    color: var(--accent-color);
    position: relative;
}

.current::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    background: #2196F3;
    border-radius: 2px;
    height: 4px;
    
}

.menu .menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-link:hover,
.menu-link:focus {
color: var(--accent-color)
}
.cont-link:hover,
.cont-link:focus {
color: var(--accent-color)
}

.cont-link {
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    padding-top: 32px;
    padding-bottom: 32px;
}


.cont-link-cont {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    margin-right: 10px;
}


.item-link {
    display: flex;
    align-items: center;
}

.item-link:not(:last-child){
    margin-right: 50px;
}


.logo-link {
    animation-duration: 1000ms;
 font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-right: 93px;
} 

.logo-link>span {
    color: var(--accent-color)
   
}

.link {
    color: #000;
}


.cont-link {
    display: flex;
    align-items: center;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em; 
color: var(--second-color);
}

.cont-link:hover
.cont-link:focus {
    color: var(--fon-batton);
}

.cont-link:hover .cont-link-cont,
.cont-link:focus .cont-link-cont {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    fill: var(--fon-batton);
}

/* ==============HERO=============== */
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
     url("../images/bg.jpg");
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.hero-caption {
    max-width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
margin-top: 0px;
margin-bottom: 30px;
margin-right: auto;
margin-left: auto;
/* margin-top: 0;
margin-bottom: 30px; */
color: var(--wite-color);
text-transform: uppercase;
letter-spacing: 0.06em;
}

.modal-btn {
font-weight: bold;
font-size: 16px;
line-height: 1.87;
background-color: var(--fon-batton);
color: var(--wite-color);
cursor: pointer;
min-width: 200px;
border-radius: 4px;
padding: 10px 32px;
align-items: center;
}



/* ===========Особености подхода к работе=============== */

.description-list-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.description-list-element {
    width: 70px;
    height: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
    padding-top: 94px;
    padding-bottom: 94px;
}

.description-list {
    display: flex;
}

.description-list-item:not(:last-child) {
    margin-right: 30px;
}

.description-title {
    margin-top: 0px;
    margin-bottom: 10px;
font-weight: 700;
font-style: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.description-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-color);
margin-top: 0px;
margin-bottom: 0px;
}



/* =========Вид деятельности компании========== */

.work {
    padding-bottom: 94px;
}

.work-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-top: 0px;
margin-bottom: 50px;
}

.work-title-list {
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
}

.work-item {
    margin-top: 30px;
    margin-left: 30px;
}

.product-work-item {
    position: relative;
}

.work-list-pic-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wite-color);
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 70px;
}

/* ===========Состав компании============ */

.structure {
    background: #F5F4FA;
}

.structure-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.structure-list-item {
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.structure-subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-text-color);
margin-bottom: 10px;
margin-top: 0;
}

.structure-list-profession {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--second-color);
margin-top: 0px;
margin-bottom: 16px;
}

.structure-list-bloc {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--wite-color);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #EEEEEE;
    padding-left: 32px;
    padding-right: 32px;
}

.social-list-icon {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list-link {
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color:  #2196F3;;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
fill: var(--wite-color);
}

/* ===============Постоянные клиенты================== */

.regular-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.regular-clients-link {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.regular-clients-link:hover,
.regular-clients-link:after {
    border: 1px solid #2196F3;
}

.regular-clients-link {
    transition-property: border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.regular-clients-item {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    fill:  #AFB1B8;
}

.regular-clients-link:hover .regular-clients-item,
.regular-clients-link:focus .regular-clients-item {
fill: var(--fon-batton);
}

/* ===============Footer============= */
.footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}

.color {
    margin-bottom: 20px;
    margin-right: 0px;
}

address {
font-style: normal;
font-weight: normal
}

.company-address {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--wite-color);
margin-top: 0px;
margin-bottom: 9px;
}

.link.color {
    color: var(--wite-color);
}

.list-contact {
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.list-contact:hover,
.list-contact:focus {
    color: var(--accent-color);
}

.footer-element {
    margin-bottom: 9px;
}

.footer-social {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wite-color);
margin-top: 0px;
margin-bottom: 20px;
}

.footer-container {
    display: flex;
    align-items:baseline
}

.footer-social-item {
    display: flex;
}

.footer-addres {
    margin-right: 70px;
}

.social-element {
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.social-element:hover,
.social-element:focus {
    background-color: var(--fon-batton);
}

.footer-element-icon {
    width: 20px;
    height: 20px;
    fill: var(--wite-color);
}


/* ============Модальное окно================ */

.backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-color-backdrop);
    z-index: 10;
    transition-property: opacity, visibility;
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--wite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration) linear;
}


.modal-clos-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--wite-color);
    border-radius: 50%;
    padding: 6px 6px;
    transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-clos-btn:hover {
    fill: var(--accent-color);
    transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clos-icon {
    width: 18px;
    height: 18px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);

}

/* =========Футер-форма============= */

.footer-modal-container {
    margin-left: 93px;
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    padding-left: 16px;
}

.footer-btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-color);
    margin-left: 12px;
    font-weight: bold;
    padding-left: 28px;
    padding-right: 28px;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
padding-top: 13px;
padding-bottom: 13px;
cursor: pointer;
}

.footer-modal-icon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.footer-modal-container-form {
    display: flex;
    margin-left: auto;
}

/* ============Модальное окно-форма==================== */

.form-head {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;

}

.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: var(--accent-color);
    outline: none;
    transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-input:required:focus:not(:placeholder-shown):valid {
    border-color: green;
}

.from-input:required:focus:not(:placeholder-shown):invalid {
    border-color: red;
} */

.form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.form-input-wrapper {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.form-input:focus + .form-icon {
    fill: var(--accent-color);
    transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}



.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form-checkbox:checked + .form-icon-checkbox {
background: #2196F3;
border-radius: 2px;
border: 2px solid #2196F3;
transition: background var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}

.form-icon-checkbox {
    width: 15px;
    height: 16px;
    background: #FFFFFF;
    fill: #FFFFFF;
    border: 2px solid #212121;
border-radius: 4px;
transition: background var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-policy {
    vertical-align: middle;
    font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: #757575;
margin-bottom: 30px;

}

.form-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-color: var(--accent-color);
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
cursor: pointer;

}

/* ============Страница portfolio================ */
/* ============Секция портфолио компании============= */
.filters {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 0px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-item {
    /* transition-property: background-color;
    transition-duration: 2500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
color: var(--primary-text-color);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}


.button {
    transition-property: background-color, color, box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    padding: 6px 22px;
    text-align: center;
    background: #F5F4FA;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
    border: none;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: var(--fon-batton);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.portfolio-list {
    margin-top: 30px;
    margin-left: 30px;
}

.portfolio-list-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.link.portfolio-list-link:hover,
.link.portfolio-list-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-heading {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top: 0px;
margin-bottom: 0px;
}

.portfolio-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--second-color);
margin-top: 0px;
margin-bottom: 20px;
}

.portfolio-border {
    background: var(--wite-color);
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    transform:translateY(100%);
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
    background-color:  rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px 63px 24px;
    margin: 0;
}

.portfolio-list-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
    transform: translateY(0%);
}